[defaults]
inventory = inventories/example/hosts.yml
roles_path = roles
collections_path = .cache/ansible/collections
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False
stdout_callback = default
callbacks_enabled = ansible.posix.profile_tasks
forks = 10
timeout = 20

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
