// Managed by Ansible.
APT::Periodic::Enable "{{ 1 if unattended_upgrades_enabled else 0 }}";
APT::Periodic::Update-Package-Lists "{{ unattended_upgrades_update_interval }}";
APT::Periodic::Unattended-Upgrade "{{ unattended_upgrades_download_interval }}";
APT::Periodic::AutocleanInterval "{{ unattended_upgrades_autoclean_interval }}";
